@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.pageTransition {
  opacity: 0;
  filter: blur(10px);
  background: black;
}

.sceneViginette {
  box-shadow: 0px 0px 400px 164px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: 0px 0px 400px 164px rgba(0, 0, 0, 1) inset;
  -moz-box-shadow: 0px 0px 400px 164px rgba(0, 0, 0, 1) inset;
}

.heroText {
  text-shadow:
    0 0 8px rgba(255, 255, 255, 0.6),
    0 0 18px rgba(255, 255, 255, 0.35);
  letter-spacing: 0.15em;
}
